{% extends "presence/base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container">

    {% if user.is_authenticated %}
        <h2>Bienvenue sur l'application de gestion de présence</h2>
        <p>Utilisez cette application pour suivre facilement la présence de vos licenciés et exporter les données.</p>

        <div style="margin-top: 2rem;">
            <p>Session actuelle ou prochaine ?</p>
            <a href="{% url 'modifier_session_du_jour' %}" class="btn-submit">📋 Faire l'appel</a>
        </div>
        <hr class="session-separator" style="margin: 2.5rem 0;">
    {% endif %}


    <h2>📅 Sessions prévues aujourd'hui ({{ today|date:"d/m/Y" }})</h2>

    {% if sessions_today %}
        <div class="session-today">
            {% for session in sessions_today %}
                <div class="session-box today-box" style="margin-bottom: 1rem;">
                    <strong>{{ session.heure_debut }} - {{ session.heure_fin }}</strong><br>
                    <em>{{ session.theme|linebreaksbr }}</em><br>
                    <small>{{ session.presences.count }} licenciés présents</small><br>
                    {% if session.created_by %}
                        <small>Créée par : {{ session.created_by.get_full_name|default:session.created_by.username }}</small><br>
                    {% endif %}
                    {% if session.checked_by %}
                        <small>Vérifiée par : {{ session.checked_by.get_full_name|default:session.checked_by.username }}</small><br>
                    {% endif %}
                    <a href="{% url 'voir_session' session.id %}">🔍 Voir</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-session-today">❌ Pas de session aujourd'hui.</p>
        <br>
        {% if user.is_authenticated %}
            <p class="no-session-today">Si une session était prévue, vous pouvez en créer une dès maintenant.</p>
            <a href="{% url 'creer_session' %}?date={{ today|date:'Y-m-d' }}&heure_debut={{ now|time:'H:i' }}" class="btn-submit">🚀 Créer rapidement</a>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
