{% extends "presence/base.html" %}

{% block title %}Liste des licenciés{% endblock %}

{% block content %}
<div class="container">
    <div class="header-row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
        <h2>👥 Liste des licenciés</h2>
        <div>
            <a href="{% url 'ajouter_licencie' %}" class="btn-submit" style="margin-right: 10px;">➕ Ajouter</a>
            <a href="{% url 'export_licencies_excel' %}" class="btn-submit">📥 Exporter vers Excel</a>
        </div>
    </div>


    {% if licencies %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nombre de présences</th>
                    <th>Dernière session</th>
                </tr>
            </thead>
            <tbody>
                {% for licencie in licencies %}
                    <tr>
                        <td>{{ licencie.nom }}</td>
                        <td>{{ licencie.prenom }}</td>
                        <td>{{ licencie.nb_presences }}</td>
                        <td>
                            {% if licencie.last_session_date %}
                                {{ licencie.last_session_date|date:"d/m/Y" }}
                            {% else %}
                                Aucune session
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun licencié trouvé.</p>
    {% endif %}
</div>
{% endblock %}
