{% extends "presence/base.html" %}

{% block title %}Liste des sessions{% endblock %}

{% block content %}
<div class="container">
    <h2 class="section-title">📅 Liste des sessions d'aujourd'hui</h2>

    {% if sessions_today %}
        <div class="session-today">
            <h3>🟢 Session aujourd'hui ({{ today }})</h3>
            {% for session in sessions_today %}
                <div class="session-box today-box">
                    <strong>{{ session.heure_debut }} - {{ session.heure_fin }}</strong><br>
                    <em>{{ session.theme|linebreaksbr }}</em><br>
                    <small>{{ session.presences.count }} licenciés présents</small><br>
                    {% if session.created_by %}
                        <small>Créée par : {{ session.created_by.get_full_name|default:session.created_by.username }}</small><br>
                    {% endif %}
                    {% if session.checked_by %}
                        <small>Vérifiée par : {{ session.checked_by.get_full_name|default:session.checked_by.username }}</small><br>
                    {% endif %}
                    <a href="{% url 'voir_session' session.id %}">🔍 Voir</a> |
                    <a href="{% url 'modifier_session' session.id %}">✏️ Modifier cette session</a>
                    <a href="{% url 'confirmer_suppression_session' session.id %}">🗑️ Supprimer</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-session-today">❌ Pas de session aujourd'hui.</p>
    {% endif %}

    <hr class="session-separator">
    <h2 class="section-title">📅 Liste des prochaines sessions </h2>

    {% if sessions %}
        <ul class="session-list">
            {% for session in sessions %}
                <li class="session-box">
                    <strong>{{ session.date }}</strong> — de {{ session.heure_debut }} à {{ session.heure_fin }}<br>
                    <em>{{ session.theme|linebreaksbr }}</em><br>
                    <small>{{ session.presences.count }} licenciés présents</small><br>
                    {% if session.created_by %}
                        <small>Créée par : {{ session.created_by.get_full_name|default:session.created_by.username }}</small><br>
                    {% endif %}
                    {% if session.checked_by %}
                        <small>Vérifiée par : {{ session.checked_by.get_full_name|default:session.checked_by.username }}</small><br>
                    {% endif %}
                    <a href="{% url 'voir_session' session.id %}">🔍 Voir</a> |
                    <a href="{% url 'modifier_session' session.id %}">✏️ Modifier</a>
                    <a href="{% url 'confirmer_suppression_session' session.id %}">🗑️ Supprimer</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune session enregistrée.</p>
    {% endif %}
</div>
{% endblock %}
