{% extends 'presence/base.html' %}
{% load static %}

{% block title %}Modifier un rôle{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Modifier le rôle : {{ group.name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-buttons">
            <button type="submit" class="btn-primary">💾 Enregistrer</button>
            <a href="{% url 'gestion_role' %}" class="btn-cancel">❌ Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
