{% extends "presence/base.html" %}

{% block title %}Présence du jour{% endblock %}

{% block content %}
    <h2>Valider la présence des licenciés</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">✅ Enregistrer et exporter</button>
    </form>
{% endblock %}
