{% extends 'presence/base.html' %}
{% load static %}

{% block title %}Supprimer la ville{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Confirmation de suppression</h2>
    <p>Es-tu sûr de vouloir supprimer la ville <strong>{{ ville.name }}</strong> ?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger">🗑️ Supprimer</button>
        <a href="{% url 'gestion_ville' %}" class="btn-cancel">❌ Annuler</a>
    </form>
</div>
{% endblock %}
