{% extends "presence/base.html" %}

{% block title %}Mon profil{% endblock %}

{% block content %}
  <h2>👤 Détail de l'utilisateur : {{ user_obj.username }}</h2>

  <ul>
    <li><strong>Email :</strong> {{ user_obj.email }}</li>
    <li><strong>Groupes :</strong>
        {% for group in user_obj.groups.all %}
            {{ group.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Aucun
        {% endfor %}
    </li>
    <li><strong>Établissement :</strong> {{ user_obj.profile.etablissement.name|default:"Non défini" }}</li>
    <li><strong>Ville :</strong> {{ user_obj.profile.etablissement.ville.name|default:"Non défini" }}</li>
    <li><strong>Date d’inscription :</strong> {{ user_obj.date_joined|date:"d/m/Y à H:i" }}</li>
  </ul>

  <div class="button-group">
      <a href="{% if request.user == user_obj %}
                  {% url 'password_change' %}
              {% else %}
                  {% url 'user_password_change' user_obj.id %}
              {% endif %}" class="btn-primary">
          🔒 Changer le mot de passe
      </a>

      {% if request.user == user_obj or request.user.is_superuser %}
        <a href="{% url 'user_edit' user_obj.id %}" class="btn-secondary">
            ✏️ Modifier le profil
        </a>
      {% endif %}
  </div>

  <a href="{% if request.user == user_obj %}{% url 'accueil' %}{% else %}{% url 'voir_utilisateurs' %}{% endif %}" class="btn-cancel">
    ⬅ Retour
  </a>
{% endblock %}
